RewriteEngine on
Options All -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9/]+)$ error404.php?views=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ error404.php?views=$1 [QSA,L]

<files administrador.php>
order allow,deny
deny from all
</files>

ErrorDocument 404 error404 
ErrorDocument 403 error403