body {
    font-family: Arial, sans-serif;
    background-color:  #131313;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    text-align: center;
}

.login {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.login h2 {
    color: #333;
    margin-bottom: 20px;
}

.login h3 {
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}

select,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color:  #f27500;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.5s ease-in-out;
}

input[type="submit"]:hover {
    background-color:  #ff8f27;
    transform:scale(1.08) ;
}

